/**
 * Site header
 */
 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: right;
    font-variant: small-caps;
    font-family: 'Quicksand', sans-serif;
    color: $color-senary;
}

.faded {
    &:hover {
        color: $color-secondary
    }
}

.navbar {
    display: block;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

.post-title {
    display: block;
    margin-bottom: 0rem;
}

.post-date {
    color: $color-senary;
    font-family: 'Quicksand', sans-serif;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    margin: 10rem 0;
    padding: 2rem 0;
    font-variant: small-caps;
    font-family: 'Quicksand', sans-serif;
    color: $color-senary;;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    border-radius: 999px;
    
    // &:hover {
    //     border: 1px solid $grey-color-light;
    // }
    img {
        border-radius: 999px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}